{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles list</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('role_show', { 'role_id': role.id }) }}">{{ role.id }}</a></td>
                <td>{{ role.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('role_show', { 'role_id': role.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('role_edit', { 'role_id': role.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_new') }}">Create a new role</a>
        </li>
    </ul>
{% endblock %}
