{# Héritage de FFN/Resources/views/layout.html.twig #}
{% extends "@FFNNatation/Layout/layout.html.twig" %}
{# On écrase le page_header #}
{% block page_header %}
    {{ parent() }}
{% endblock %}
{# On écrase le body #}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="card h-100 col-lg-5 col-md-6 mb-4 mt-4 mr-auto center">
                <h1>Résultat du concours {{ concour.nom }}</h1>
            </div>
        </div>

        <div class="row">
            <ul class="list-group col-lg-5">
                {% for equipe in equipes %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ path('ffn_natation_equipe', {'id': equipe.id}) }}">{{ equipe.nom }}</a>
                        <span class="badge badge-primary badge-pill">{{ equipe.id|length }} Nageurs</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
