{# Héritage de FFN/Resources/views/layout.html.twig #}
{% extends "@FFNNatation/Layout/layout.html.twig" %}
{# On écrase le page_header #}
{% block page_header %}
    {{ parent() }}
{% endblock %}
{# On écrase le body #}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="card h-100 col-lg-5 col-md-6 mb-4 mt-4 mr-auto center">
                <h1>Profile de {{ personne.nom }} {{ personne.prenom }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="card h-100 center">
                {% for equipe in personne.equipe %}

                    {% for note in noter %}
                        {% if note.equipe.id == equipe.id %}
                            {% if loop.first %}
                                {{ equipe.nom }} à la {{ note.competition.nom }}
                                <ul>
                            {% elseif noter[loop.index - 1].competition.id != noter[loop.index - 2].competition.id %}
                                    </ul>
                                    {{ equipe.nom }} à la  {{ note.competition.nom }}
                                    <ul>
                            {% endif %}
                                <li>{{ note.note }} pts accordés par {{ note.personne.nom }} {{ note.personne.prenom }}</li>
                            {% if loop.last %}<ul>{% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}
