{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Utilisateur</th>
                <td>{{ utilisateur.id.nom }} {{ utilisateur.id.prenom }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur.username }}</td>
            </tr>
            <tr>
                <th>Pwd</th>
                <td>•••••••••••••••••••••••••••••••</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <ul>
                        {% for role in utilisateur.roles %}
                            <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('utilisateur_edit', { 'personne_id': utilisateur.personne.id }) }}">edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
