{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clubs list</h1>

    <table>
        <thead>
            <tr>
                <th>Idclub</th>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Directeur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td><a href="{{ path('club_show', { 'idClub': club.idClub }) }}">{{ club.idClub }}</a></td>
                <td>{{ club.nom }}</td>
                <td><a href="{{ path('lieu_show', { 'idLieu': club.idLieu.idLieu }) }}">{{ club.idLieu.nom }}</a></td>
                <td><a href="{{ path('personne_show', { 'idPersonne': club.idPersonne.idPersonne }) }}">{{ club.idPersonne.nom }} {{ club.idPersonne.prenom }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('club_show', { 'idClub': club.idClub }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('club_edit', { 'idClub': club.idClub }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('club_new') }}">Create a new club</a>
        </li>
    </ul>
{% endblock %}
