{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clubs list</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Directeur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td><a href="{{ path('club_show', { 'club_id': club.id }) }}">{{ club.id }}</a></td>
                <td>{{ club.nom }}</td>
                <td><a href="{{ path('lieu_show', { 'lieu_id': club.lieu.id }) }}">{{ club.lieu.nom }}</a></td>
                <td><a href="{{ path('personne_show', { 'personne_id': club.personne.id }) }}">{{ club.personne.nom }} {{ club.personne.prenom }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('club_show', { 'club_id': club.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('club_edit', { 'club_id': club.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('club_new') }}">Create a new club</a>
        </li>
    </ul>
{% endblock %}
