{% extends 'base.html.twig' %}

{% block body %}
    <h1>Composers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idequipe</th>
                <th>IsActif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composer in composers %}
            <tr>
                <td><a href="{{ path('personne_show', { 'personne_id': composer.personne.id }) }}">{{ composer.personne.nom }} {{ composer.personne.prenom }}</a></td>
                <td><a href="{{ path('equipe_show', { 'equipe_id': composer.equipe.id }) }}">{{  composer.equipe.nom }}</a></td>
                <td>{{ composer.isActif }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('composer_show', { 'equipe_id': composer.equipe.id, 'personne_id': composer.personne.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('composer_edit', { 'equipe_id': composer.equipe.id, 'personne_id': composer.personne.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('composer_new') }}">Create a new composer</a>
        </li>
    </ul>
{% endblock %}
