{% extends 'base.html.twig' %}

{% block body %}

    <h1>Composer</h1>

    <table>
        <tbody>
            <tr>
                <th>Equipe</th>
                <td>{{ composer.equipe.nom }}</td>
            </tr>
            <tr>
                <th>Personne</th>
                <td>{{ composer.personne.nom }} {{ composer.personne.prenom }}</td>
            </tr>
            <tr>
                <th>Isactif</th>
                <td>{% if composer.isActif %}Yes{% else %}No{% endif %}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('composer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('composer_edit', { 'equipe_id': composer.equipe.id, 'personne_id': composer.personne.id }) }}">edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
