{% extends 'base.html.twig' %}

{% block body %}
    <h1>Noter list</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>equipe</th>
                <th>Competition</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for noter in noters %}
            <tr>
                <td><a href="{{ path('personne_show', { 'personne_id': noter.personne.id }) }}">{{ noter.personne.nom }}</a></td>
                <td><a href="{{ path('equipe_show', { 'equipe_id': noter.equipe.id }) }}">{{ noter.equipe.nom }}</a></td>
                <td><a href="{{ path('competition_show', { 'competition_id': noter.competition.id }) }}">{{ noter.competition.nom }}</a></td>
                <td>{{ noter.note }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('noter_show', { 'equipe_id': noter.equipe.id, 'personne_id': noter.personne.id, 'competition_id': noter.competition.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('noter_edit', { 'equipe_id': noter.equipe.id, 'personne_id': noter.personne.id, 'competition_id': noter.competition.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('noter_new') }}">Create a new noter</a>
        </li>
    </ul>
{% endblock %}
