{% extends 'base.html.twig' %}

{% block body %}
    <h1>Noter list</h1>

    <table>
        <thead>
            <tr>
                <th>Idpersonne</th>
                <th>Idequipe</th>
                <th>Idcompetition</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for noter in noters %}
            <tr>
                <td><a href="{{ path('personne_show', { 'idPersonne': noter.idPersonne.idPersonne }) }}">{{ noter.idPersonne.nom }}</a></td>
                <td><a href="{{ path('equipe_show', { 'idEquipe': noter.idEquipe.idEquipe }) }}">{{ noter.idEquipe.nom }}</a></td>
                <td><a href="{{ path('competition_show', { 'idCompetition': noter.idCompetition.idCompetition }) }}">{{ noter.idCompetition.nom }}</a></td>
                <td>{{ noter.note }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('noter_show', { 'idEquipe': noter.idEquipe.idEquipe, 'idPersonne': noter.idPersonne.idPersonne, 'idCompetition': noter.idCompetition.idCompetition }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('noter_edit', { 'idEquipe': noter.idEquipe.idEquipe, 'idPersonne': noter.idPersonne.idPersonne, 'idCompetition': noter.idCompetition.idCompetition }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('noter_new') }}">Create a new noter</a>
        </li>
    </ul>
{% endblock %}
