{% extends 'base.html.twig' %}

{% block body %}

    <h1>Noter</h1>

    <table>
        <tbody>
            <tr>
                <th>Nomequipe</th>
                <td>{{ noter.equipe.nom }}</td>
            </tr>
            <tr>
                <th>Nomepersonne</th>
                <td>{{ noter.personne.nom }}</td>
            </tr>
            <tr>
                <th>Nomcompetition</th>
                <td>{{ noter.competition.nom }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('noter_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('noter_edit', { 'equipe_id': noter.equipe.id, 'personne_id': noter.personne.id, 'competition_id': noter.competition.id }) }}">edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
