{% extends 'base.html.twig' %}

{% block body %}
    <h1>UtilisateurRole list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idcompetition</th>
                <th>Idrole</th>
                <th>Rang</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateurrole in utilisateurroles %}
            <tr>
                <td><a href="{{ path('personne_show', { 'personne_id': utilisateurrole.personne.id }) }}">{{ utilisateurrole.personne.nom }}</a></td>
                <td><a href="{{ path('competition_show', { 'competition_id': utilisateurrole.competition.id }) }}">{{ utilisateurrole.competition.nom }}</a></td>
                <td><a href="{{ path('role_show', { 'role_id': utilisateurrole.role.id }) }}">{{ utilisateurrole.role.id }}</a></td>
                <td>{{ utilisateurrole.rang }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateurrole_show', { 'role_id': utilisateurrole.role.id, 'personne_id': utilisateurrole.personne.id, 'competition_id': utilisateurrole.competition.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('utilisateurrole_edit', { 'role_id': utilisateurrole.role.id, 'personne_id': utilisateurrole.personne.id, 'competition_id': utilisateurrole.competition.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateurrole_new') }}">Create a new utilisateurrole</a>
        </li>
    </ul>
{% endblock %}
