{% extends 'base.html.twig' %}

{% block body %}

    <h1>UtilisateurRole</h1>

    <table>
        <tbody>
            <tr>
                <th>Nomequipe</th>
                <td>{{ utilisateurrole.role.nom }}</td>
            </tr>
            <tr>
                <th>Nomepersonne</th>
                <td>{{ utilisateurrole.personne.nom }}</td>
            </tr>
            <tr>
                <th>Nomcompetition</th>
                <td>{{ utilisateurrole.competition.nom }}</td>
            </tr>
            <tr>
                <th>Rang</th>
                <td>{{ utilisateurrole.rang }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateurrole_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('utilisateurrole_edit', { 'role_id': utilisateurrole.role.id, 'personne_id': utilisateurrole.personne.id, 'competition_id': utilisateurrole.competition.id }) }}">edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
